@import "~bootstrap/scss/bootstrap.scss";

.wrapper {
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.wrapper div {
    display: inline-block;
    font-size: 5rem;
    padding: 0 20px;
}